name: golang_ci
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  golangci:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    name: lint
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.17
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.29
  test:
    needs: lint
    ## We want to define a strategy for our job
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest] 
    
    ## Defines the platform for each test run
    runs-on: ${{ matrix.platform }}
    
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        repository: zm99by/investment-game
    ## runs go test ./...
    - name: Test
      run: go test ./...